*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/proguard-rules.pro
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
gradlew.bat
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
app/src/test/java/demo/slideconflict/com/slideconflictdemo/ExampleUnitTest.java
app/src/androidTest/java/demo/slideconflict/com/slideconflictdemo/ApplicationTest.java
